@using BigJobbs.Models
@model LoginViewModel

@{
    ViewBag.Title = "Log in";
}
<style>
    .formbg {
        border: 1px solid rgba(10, 3, 73, 0.712);
        padding: 10px;
        margin: 10px;
        background-color: rgba(10, 3, 73, 0.952);
        border-radius: 10px;
        color: white;
    }
    a{
        color: deeppink;
    }
    label {
        font-size: 14px;
        font-weight: bolder;
        color: rgba(10, 3, 73, 0.952);
    }
    .textbox {
        background-color: rgba(141, 141, 141, 0.281);
        height: 50px;
        font-size: 20px;
        color: white;
        font-weight: bolder;
    }
    #formcontainer{
        padding: 20px;  
        border-radius: 5px;
    }
    #h1{
        margin-top: 20px;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <section id="loginForm" class="formbg">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h1 id="h1" style="color: white">Log in</h1>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div style="background-color: white" id="formcontainer">
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2" })
                    <div class="col-md-12">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control textbox col-12" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2" })
                    <div class="col-md-12">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control textbox col-12" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group" style="padding-left: 20px">
                    <div class="col-md-12">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="submit" value="Log in" class="btn btn-default" />
                    </div>
                </div>
                <p>
                    @Html.ActionLink("Register as a new user", "Register")
                </p>
            </div>
                    @* Enable this once you have account confirmation enabled for password reset functionality
                        <p>
                            @Html.ActionLink("Forgot your password?", "ForgotPassword")
                        </p>*@
                }
            </section>
        </div>
        <div class="col-md-6">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}