@model BigJobbs.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<style>
    .textbox {
        background-color: rgba(141, 141, 141, 0.281);
        height: 50px;
        font-size: 20px;
        color: white;
        font-weight: bolder;
    }
    #h1 {
        margin-top: 20px;
    }
    #formcontainer {
        padding: 20px;
        border-radius: 5px;
    }
    label {
        font-size: 14px;
        font-weight: bolder;
        color: rgba(10, 3, 73, 0.952);
        padding-left: 13px;
    }
    .formbg {
        border: 1px solid rgba(10, 3, 73, 0.712);
        padding: 10px;
        margin: 10px;
        background-color: rgba(10, 3, 73, 0.952);
        border-radius: 10px;
        color: white;
        margin-top: 50px; 
    }
</style>
    <div class="container" style="display: flex; justify-content: cenjter">

        <div class="col-8 formbg">
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h1 id="h1" style="color: white">Create a new account.</h1>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="col-12" style="background-color: white" id="formcontainer">
                <div class="form-group">
                    @Html.LabelFor(m => m.FirstName)
                    <div class="col-12">
                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control textbox col-12" })
                        @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })

                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.LastName)
                    <div class="col-12">
                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control textbox col-12" })
                        @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })

                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Email)
                    <div class="col-md-12">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control textbox col-12" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Password)
                    <div class="col-md-12">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control textbox col-12" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword)
                    <div class="col-md-12">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control textbox col-12" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })

                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="submit" class="btn btn-success" value="Register" />
                    </div>
                </div>
            </div>
            }

        </div>

    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
