@*@model BigJobbs.Models.Job*@
@model BigJobbs.Infrastructure.ViewModels.UserAndJobViewModel

@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "JobDetails";
}
<style>
    li {
        font-size: 15px;
        list-style-type: circle;
    }

    p {
        font-size: 20px;
    }
</style>

<h2>JobDetails</h2>
<!-- Hero Area Start-->
<div class="slider-area ">
    <div class="single-slider section-overly slider-height2 d-flex align-items-center" style="background-image: url(../../Content/assets/img/hero/about.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center">
                        <h2>@Model.Job.Name</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero Area End -->

<div class="job-post-company pt-120 pb-120">
    <div class="container">
        <div class="row justify-content-between">
            <!-- Left Content -->
            <div class="col-xl-7 col-lg-8">
                <!-- job single -->
                <div class="single-job-items mb-50">
                    <div class="job-items">
                        <div class="company-img company-img-details">
                            <a href="job_details.html"><img src="~/Content/assets/img/icon/job-list1.png" alt=""></a>
                        </div>
                        <div class="job-tittle">
                            <a href="#">
                                <h4>@Model.Job.Name</h4>
                            </a>
                            <ul>
                                <li>@Model.Job.HiringCompany</li>
                                <li><i class="fas fa-map-marker-alt"></i>@Model.Job.Location</li>
                                <li>$@Model.Job.Salary</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- job single End -->

                <div class="job-post-details">
                    <div class="post-details1 mb-50">
                        <!-- Small Section Tittle -->
                        <div class="small-section-tittle">
                            <h4>Job Description</h4>
                        </div>
                        <p>@Html.Raw(Model.Job.Description)</p>
                    </div>
                </div>

            </div>
            <!-- Right Content -->
            <div class="col-xl-4 col-lg-4">
                <div class="post-details3  mb-50">
                    <!-- Small Section Tittle -->
                    <div class="small-section-tittle">
                        <h4>Job Overview</h4>
                    </div>
                    <ul>
                        <li>Posted date : <span>@string.Format("{0:d MMM, yyyy}", Model.Job.DatePosted) </span></li>
                        <li>Location : <span>@Model.Job.Location</span></li>
                        <li>Job nature : <span>@Model.Job.JobType.Name</span></li>
                        <li>Salary :  <span>$@Model.Job.Salary, yearly</span></li>
                    </ul>
                    <div class="apply-btn2">
                        @{
                            if (Model.Applicant.Id > 0 && Model.Applicant.Job.Id == Model.Job.Id)
                            {
                                <button class="btn">You've already applied for this Job</button>
                            }
                            else
                            {
                                @Html.ActionLink("Apply Now", "ApplyForJob", "Job", new { jobId = Model.Job.Id }, new { @class = "btn" })

                            }
                        }

                        @*<a href="#" class="btn">Apply Nowii</a>*@
                    </div>
                </div>
                <div class="post-details4  mb-50">
                    <!-- Small Section Tittle -->
                    <div class="small-section-tittle">
                        <h4>Company Information</h4>
                    </div>
                    <span>@Model.Job.HiringCompany</span>
                    <ul>
                        <li>Web : <span> colorlib.com</span></li>
                        <li>Email: <span>carrier.colorlib@gmail.com</span></li>
                    </ul>
                </div>
            </div>
            </div>
                    </div>
                </div>
            <!-- job post company End -->
